@font-face {
  font-family: "ExpoArabic";
  src: url(../fonts/ExpoArabic/ExpoArabic-Medium.ttf);
  font-weight: 700;
}

@font-face {
  font-family: "ExpoArabic";
  src: url(../fonts/ExpoArabic/ExpoArabic-Book.ttf);
  font-weight: 500;
}

@font-face {
  font-family: "ExpoArabic";
  src: url(../fonts/ExpoArabic/ExpoArabic-SemiBold.ttf);
  font-weight: 900;
}

* {
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "ExpoArabic" , sans-serif;
  scroll-behavior: smooth;
}

*::-moz-selection {
  background-color: #368B85;
  color: #fff;
}

*::selection {
  background-color: #368B85;
  color: #fff;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background-color: #ccc;
}

*::-webkit-scrollbar-thumb {
  background: #368B85;
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #FFD371;
}

.overflowNone {
  overflow: hidden;
}

.btn:focus,
button:focus,
input:focus,
.form-control:focus {
  outline-width: 0px !important;
  outline-color: transparent !important;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
          box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

a {
  text-decoration: none !important;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.owl-theme .owl-dots .owl-dot span {
  width: 20px;
  height: 4px;
  border-radius: 4px;
  background-color: #FFD371;
  opacity: .5;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  opacity: 1;
}

.overflowNone {
  overflow: hidden;
}

@-webkit-keyframes bounce-in-fwd {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: scale(0.84);
            transform: scale(0.84);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  89% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

@keyframes bounce-in-fwd {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: scale(0.84);
            transform: scale(0.84);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  89% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

@-webkit-keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

@-webkit-keyframes bounce-in-left {
  0% {
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateX(-4px);
            transform: translateX(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

@keyframes bounce-in-left {
  0% {
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateX(-4px);
            transform: translateX(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

@-webkit-keyframes pulsecust {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pulsecust {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes pulse-shadow {
  100% {
    -webkit-box-shadow: 0 0 0 10px rgba(255, 102, 0, 0), 0 0 0 20px rgba(255, 102, 0, 0);
            box-shadow: 0 0 0 10px rgba(255, 102, 0, 0), 0 0 0 20px rgba(255, 102, 0, 0);
  }
}

@keyframes pulse-shadow {
  100% {
    -webkit-box-shadow: 0 0 0 10px rgba(255, 102, 0, 0), 0 0 0 20px rgba(255, 102, 0, 0);
            box-shadow: 0 0 0 10px rgba(255, 102, 0, 0), 0 0 0 20px rgba(255, 102, 0, 0);
  }
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg) scale3d(1, 1, 1);
            transform: rotate(0deg) scale3d(1, 1, 1);
  }
  100% {
    -webkit-transform: rotate(10deg) scale3d(1.5, 1.5, 1.5);
            transform: rotate(10deg) scale3d(1.5, 1.5, 1.5);
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg) scale3d(1, 1, 1);
            transform: rotate(0deg) scale3d(1, 1, 1);
  }
  100% {
    -webkit-transform: rotate(10deg) scale3d(1.5, 1.5, 1.5);
            transform: rotate(10deg) scale3d(1.5, 1.5, 1.5);
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
            transform: scale3d(0.8, 0.8, 0.8);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
            transform: scale3d(0.8, 0.8, 0.8);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

/*dropdown animation*/
@-webkit-keyframes dropdown-animate {
  0% {
    opacity: 0;
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
  }
  50% {
    -webkit-transform: rotateX(20deg);
            transform: rotateX(20deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}
@keyframes dropdown-animate {
  0% {
    opacity: 0;
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
  }
  50% {
    -webkit-transform: rotateX(20deg);
            transform: rotateX(20deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes wave {
  0%,
  100% {
    -webkit-clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
  }
  50% {
    -webkit-clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
  }
}

@keyframes wave {
  0%,
  100% {
    -webkit-clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
  }
  50% {
    -webkit-clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
  }
}

@-webkit-keyframes niceAnimate {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  50% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes niceAnimate {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  50% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@-webkit-keyframes translation {
  0% {
    -webkit-transform: translateZ(0%);
            transform: translateZ(0%);
  }
  100% {
    -webkit-transform: translateZ(10%);
            transform: translateZ(10%);
  }
}

@keyframes translation {
  0% {
    -webkit-transform: translateZ(0%);
            transform: translateZ(0%);
  }
  100% {
    -webkit-transform: translateZ(10%);
            transform: translateZ(10%);
  }
}

@-webkit-keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg);
  }
}

@keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg);
  }
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@-webkit-keyframes vibrate {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-10px, 10px);
            transform: translate(-10px, 10px);
  }
  40% {
    -webkit-transform: translate(-10px, -10px);
            transform: translate(-10px, -10px);
  }
  60% {
    -webkit-transform: translate(10px, 10px);
            transform: translate(10px, 10px);
  }
  80% {
    -webkit-transform: translate(10px, -10px);
            transform: translate(10px, -10px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes vibrate {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-10px, 10px);
            transform: translate(-10px, 10px);
  }
  40% {
    -webkit-transform: translate(-10px, -10px);
            transform: translate(-10px, -10px);
  }
  60% {
    -webkit-transform: translate(10px, 10px);
            transform: translate(10px, 10px);
  }
  80% {
    -webkit-transform: translate(10px, -10px);
            transform: translate(10px, -10px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes translateX {
  0%,
  100% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  50% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
  }
}

@keyframes translateX {
  0%,
  100% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  50% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
  }
}

@-webkit-keyframes translateY {
  0%,
  100% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  50% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
}

@keyframes translateY {
  0%,
  100% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  50% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
}

@-webkit-keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg) translate(-50%, -50%);
            transform: rotateX(80deg) translate(-50%, -50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0) translate(-50%, -50%);
            transform: rotateX(0) translate(-50%, -50%);
    opacity: 1;
  }
}

@keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg) translate(-50%, -50%);
            transform: rotateX(80deg) translate(-50%, -50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0) translate(-50%, -50%);
            transform: rotateX(0) translate(-50%, -50%);
    opacity: 1;
  }
}

@-webkit-keyframes shadow {
  0% {
    -webkit-box-shadow: 0px 0px 35px -4px #00a4e6;
            box-shadow: 0px 0px 35px -4px #00a4e6;
    opacity: 0 !important;
  }
  100% {
    -webkit-box-shadow: 0px 0px 35px -4px rgba(0, 164, 230, 0);
            box-shadow: 0px 0px 35px -4px rgba(0, 164, 230, 0);
  }
}

@keyframes shadow {
  0% {
    -webkit-box-shadow: 0px 0px 35px -4px #00a4e6;
            box-shadow: 0px 0px 35px -4px #00a4e6;
    opacity: 0 !important;
  }
  100% {
    -webkit-box-shadow: 0px 0px 35px -4px rgba(0, 164, 230, 0);
            box-shadow: 0px 0px 35px -4px rgba(0, 164, 230, 0);
  }
}

@-webkit-keyframes rotate {
  0% {
    border-radius: 50% 60% 55% 40%;
  }
  25% {
    border-radius: 30% 10% 70% 20%;
  }
  50% {
    border-radius: 20% 40% 30% 60%;
  }
  75% {
    border-radius: 70% 20% 50% 30%;
  }
  100% {
    border-radius: 50% 60% 55% 40%;
  }
}

@keyframes rotate {
  0% {
    border-radius: 50% 60% 55% 40%;
  }
  25% {
    border-radius: 30% 10% 70% 20%;
  }
  50% {
    border-radius: 20% 40% 30% 60%;
  }
  75% {
    border-radius: 70% 20% 50% 30%;
  }
  100% {
    border-radius: 50% 60% 55% 40%;
  }
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  67% {
    opacity: 1;
    -webkit-transform: translateX(40px);
            transform: translateX(40px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(55px) scale3d(0.5, 0.5, 0.5);
            transform: translateX(55px) scale3d(0.5, 0.5, 0.5);
  }
}

@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  67% {
    opacity: 1;
    -webkit-transform: translateX(40px);
            transform: translateX(40px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(55px) scale3d(0.5, 0.5, 0.5);
            transform: translateX(55px) scale3d(0.5, 0.5, 0.5);
  }
}

@-webkit-keyframes clip {
  0% {
    -webkit-clip-path: polygon(57% 41%, 100% 0, 52% 46%, 0 100%);
            clip-path: polygon(57% 41%, 100% 0, 52% 46%, 0 100%);
  }
  50% {
    -webkit-clip-path: polygon(57% 41%, 100% 0, 0 0, 0 100%);
            clip-path: polygon(57% 41%, 100% 0, 0 0, 0 100%);
  }
  100% {
    -webkit-clip-path: polygon(100% 100%, 100% 0, 0 0, 0 100%);
            clip-path: polygon(100% 100%, 100% 0, 0 0, 0 100%);
  }
}

@keyframes clip {
  0% {
    -webkit-clip-path: polygon(57% 41%, 100% 0, 52% 46%, 0 100%);
            clip-path: polygon(57% 41%, 100% 0, 52% 46%, 0 100%);
  }
  50% {
    -webkit-clip-path: polygon(57% 41%, 100% 0, 0 0, 0 100%);
            clip-path: polygon(57% 41%, 100% 0, 0 0, 0 100%);
  }
  100% {
    -webkit-clip-path: polygon(100% 100%, 100% 0, 0 0, 0 100%);
            clip-path: polygon(100% 100%, 100% 0, 0 0, 0 100%);
  }
}

@-webkit-keyframes sideClip {
  0% {
    -webkit-clip-path: polygon(0 0, 100% 0, 0 0, 0 100%);
            clip-path: polygon(0 0, 100% 0, 0 0, 0 100%);
  }
  50% {
    -webkit-clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes sideClip {
  0% {
    -webkit-clip-path: polygon(0 0, 100% 0, 0 0, 0 100%);
            clip-path: polygon(0 0, 100% 0, 0 0, 0 100%);
  }
  50% {
    -webkit-clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@-webkit-keyframes sideClip_2 {
  0% {
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 70% 53%, 60% 26%);
            clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 70% 53%, 60% 26%);
  }
  50% {
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 26% 33%, 11% 10%);
            clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 26% 33%, 11% 10%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 60%, 100% 100%, 55% 100%, 0 100%, 0 59%, 0 31%, 0 14%);
            clip-path: polygon(0 0, 100% 0, 100% 60%, 100% 100%, 55% 100%, 0 100%, 0 59%, 0 31%, 0 14%);
  }
}

@keyframes sideClip_2 {
  0% {
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 70% 53%, 60% 26%);
            clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 70% 53%, 60% 26%);
  }
  50% {
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 26% 33%, 11% 10%);
            clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 26% 33%, 11% 10%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 60%, 100% 100%, 55% 100%, 0 100%, 0 59%, 0 31%, 0 14%);
            clip-path: polygon(0 0, 100% 0, 100% 60%, 100% 100%, 55% 100%, 0 100%, 0 59%, 0 31%, 0 14%);
  }
}

@-webkit-keyframes toRightFromLeft {
  49% {
    -webkit-transform: translate(100%);
            transform: translate(100%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
  }
  51% {
    opacity: 1;
  }
}

@keyframes toRightFromLeft {
  49% {
    -webkit-transform: translate(100%);
            transform: translate(100%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
  }
  51% {
    opacity: 1;
  }
}

@-webkit-keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

@-webkit-keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

:root {
  --primary: #92278F;
  --secondary: #00A79D;
  --dark: #000;
  --light: #fff;
}

.button-contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.button-contain .custom-btn {
  width: 120px;
  height: 47px;
  background: -webkit-gradient(linear, left top, right top, from(#00A79D), to(#92278F));
  background: linear-gradient(90deg, #00A79D, #92278F);
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--light);
  position: relative;
  font-size: 16px;
  font-weight: 500;
  overflow: hidden;
  z-index: 9;
}

.button-contain .custom-btn::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#92278F), to(#00A79D));
  background: linear-gradient(90deg, #92278F, #00A79D);
  top: 0;
  left: 0;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  z-index: -1;
}

.button-contain .custom-btn:hover::after {
  width: 100%;
}

.heading {
  width: 100%;
  margin-bottom: 70px;
  text-align: center;
}

.heading h1 {
  font-size: 30px;
  font-weight: 900;
  line-height: 40px;
  margin-bottom: 10px;
  color: var(--dark);
}

.heading p {
  color: #333;
  font-size: 16px;
  font-weight: 500;
  line-height: 40px;
}

.navbar {
  width: 100%;
  padding: 24px 0px;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.navbar.scrolled {
  padding: 10px 0px;
  background-color: var(--light);
  -webkit-box-shadow: 0px 0px 10px rgba(146, 39, 143, 0.2);
          box-shadow: 0px 0px 10px rgba(146, 39, 143, 0.2);
}

.navbar.scrolled .brand-name img {
  height: 70px !important;
}

.navbar .content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.navbar .content .hamburger {
  display: none;
}

.navbar .content .hamburger .line {
  width: 30px;
  height: 3px;
  background: linear-gradient(45deg, #00A79D 0%, #92278F 100%);
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navbar .content .hamburger.active {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.navbar .content .hamburger.active .line:nth-child(2) {
  width: 0px;
}

.navbar .content .hamburger.active .line:nth-child(1), .navbar .content .hamburger.active .line:nth-child(3) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.navbar .content .hamburger.active .line:nth-child(1) {
  -webkit-transform: translateY(6.5px);
          transform: translateY(6.5px);
}

.navbar .content .hamburger.active .line:nth-child(3) {
  -webkit-transform: translateY(-15px) rotate(90deg);
          transform: translateY(-15px) rotate(90deg);
}

.navbar .content .brand-name img {
  width: 99px;
  height: 92px;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.navbar .content .navbar-nav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navbar .content .navbar-nav li {
  -webkit-margin-end: 24px;
          margin-inline-end: 24px;
}

.navbar .content .navbar-nav li:last-child {
  -webkit-margin-end: 0px !important;
          margin-inline-end: 0px !important;
}

.navbar .content .navbar-nav li a {
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  color: var(--dark);
}

.navbar .content .navbar-nav li a:hover {
  color: var(--primary);
}

.navbar .content .button-contain .lang {
  width: 47px;
  height: 47px;
  background-color: var(--secondary);
  font-size: 16px;
  font-weight: 500;
  color: var(--light);
  line-height: 28px;
  border-radius: 50%;
  -webkit-margin-end: 10px;
          margin-inline-end: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar .content .button-contain .lang:hover {
  background-color: var(--primary);
}

header {
  width: 100%;
  padding: 242px 0px 126px;
  background: #fff url("../images/intro/header.png") top left/cover no-repeat;
  position: relative;
}

header .content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .content h1 {
  color: var(--dark);
  font-size: 30px;
  font-weight: 900;
  line-height: 40px;
}

header .content h1 .primary {
  color: var(--primary);
}

header .content h1 .secondary {
  color: var(--secondary);
}

header .content p {
  color: var(--dark);
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  margin: 30px 0px;
}

header .content .small-logo {
  width: 270px;
  height: 30px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: right;
     object-position: right;
  margin-top: 72px;
}

header .image-content {
  width: 100%;
  height: 400px;
}

header .image-content img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: left;
     object-position: left;
}

.advantages {
  width: 100%;
  padding: 80px 0px 70px;
  background: url("../images/pattern.png") bottom right/contain no-repeat;
  position: relative;
  z-index: 9;
}

.advantages::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#00A79D), to(#92278F));
  background: linear-gradient(90deg, #00A79D, #92278F);
  bottom: 0;
  left: 0;
  z-index: -1;
}

.advantages .heading h1 {
  color: var(--light) !important;
}

.advantages .heading p {
  color: rgba(255, 255, 255, 0.7);
}

.advantages .box {
  width: 100%;
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
  text-align: center;
}

.advantages .box .image-content img {
  width: 80px;
  height: 80px;
  margin: 0px auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.advantages .box h2 {
  color: var(--light);
  font-size: 20px;
  font-weight: 900;
  line-height: 40px;
  margin: 24px 0px 20px;
}

.advantages .box p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  margin: 0px;
}

.advantages .box:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.advantages .box:hover img {
  -webkit-animation: pulsecust .4s linear;
          animation: pulsecust .4s linear;
}

.pos {
  width: 100%;
  padding: 80px 0px 70px;
  background-color: #fff;
}

.pos .box {
  width: 100%;
  height: 100%;
  padding: 40px 30px;
  position: relative;
  z-index: 9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #fff url("../images/pos/pos_pattern.png") bottom right/contain no-repeat;
  -webkit-box-shadow: 0px 15px 30px rgba(146, 39, 143, 0.06);
          box-shadow: 0px 15px 30px rgba(146, 39, 143, 0.06);
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.pos .box::before, .pos .box::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.pos .box::before {
  width: 0px;
  border-top: 1px solid var(--secondary);
  border-bottom: 1px solid var(--secondary);
  height: 100%;
}

.pos .box::after {
  width: 100%;
  height: 0px;
  border-left: 1px solid var(--secondary);
  border-right: 1px solid var(--secondary);
}

.pos .box .image-content img {
  width: 110px;
  height: 110px;
  -o-object-fit: contain;
     object-fit: contain;
}

.pos .box .content {
  width: calc(100% - 160px);
}

.pos .box .content h2 {
  color: var(--dark);
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 10px;
  line-height: 40px;
}

.pos .box .content p {
  color: #222;
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  margin: 0px !important;
}

.pos .box:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.pos .box:hover::before, .pos .box:hover::after {
  width: 100%;
  height: 100%;
}

.pos .box:hover h2 {
  color: var(--secondary);
}

.get-it {
  width: 100%;
}

.get-it .content {
  width: 100%;
  padding: 60px 90px;
  background-color: #088483;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 9;
}

.get-it .content::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../images/pattern.png") bottom right/contain no-repeat;
  bottom: 0;
  left: 0;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  z-index: -1;
}

.get-it .content img {
  width: 126px;
  height: 117px;
  -o-object-fit: contain;
     object-fit: contain;
}

.get-it .content .data-contain {
  width: calc(100% - 179px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.get-it .content .data-contain .data {
  width: calc(100% - 200px);
}

.get-it .content .data-contain .data h1 {
  color: var(--light);
  font-size: 25px;
  font-weight: 900;
  line-height: 40px;
  margin-bottom: 10px;
}

.get-it .content .data-contain .data p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  font-weight: 500;
  margin: 0px;
}

.get-it .content .data-contain .custom-btn {
  background: #00A79D !important;
}

.questions {
  width: 100%;
  padding: 85px 0px 0px;
}

.questions .card {
  -webkit-box-shadow: 0px 15px 30px rgba(146, 39, 143, 0.06);
          box-shadow: 0px 15px 30px rgba(146, 39, 143, 0.06);
  width: 100%;
  border: 0px !important;
  margin-bottom: 12px !important;
}

.questions .card .card-header {
  width: 100%;
  padding: 0px !important;
  background-color: transparent !important;
}

.questions .card .card-header .btn {
  width: 100%;
  padding: 16px 24px;
  color: var(--light);
  background-color: #fff;
  font-size: 16px;
  font-weight: 900;
  z-index: 9;
  position: relative;
  text-align: unset !important;
  text-decoration: none;
}

.questions .card .card-header .btn:hover {
  text-decoration: none;
}

.questions .card .card-header .btn::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#00A79D), to(#92278F));
  background: linear-gradient(90deg, #00A79D, #92278F);
  bottom: 0;
  left: 0;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  z-index: -1;
}

.questions .card .card-header .btn::before {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  background: url("../images/question/question_bottom.svg") center/contain no-repeat;
  left: 24px;
  top: calc(50% - 12px);
  z-index: 0;
}

.questions .card .card-header .btn.collapsed {
  color: var(--dark);
  text-decoration: none;
}

.questions .card .card-header .btn.collapsed::after {
  width: 0px !important;
}

.questions .card .card-header .btn.collapsed::before {
  background: url("../images/question/question_top.svg") center/contain no-repeat;
}

.questions .card .card-body {
  width: 100%;
  padding: 33px 24px;
  background-color: #fff;
  position: relative;
  z-index: 9;
}

.questions .card .card-body::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../images/pos/pos_pattern.png") bottom right/contain no-repeat;
  bottom: 0;
  left: 0;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  z-index: -1;
}

.questions .card .card-body p {
  color: #B2B2B2;
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  margin: 0px;
}

.products {
  width: 100%;
  padding: 85px 0px 0px 0px;
  background-color: var(--light);
  position: relative;
  z-index: 9;
}

.products::after {
  content: '';
  position: absolute;
  width: 320px;
  height: 320px;
  background: url("../images/product/pattern.png") top left/contain no-repeat;
  top: 0;
  left: 0;
  z-index: -1;
}

.products .box {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 167, 157, 0.1);
  -webkit-box-shadow: 0px 0px 30px rgba(146, 39, 143, 0.06);
          box-shadow: 0px 0px 30px rgba(146, 39, 143, 0.06);
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.products .box .box-heading {
  width: 100%;
  padding: 23px 0px;
  text-align: center;
  position: relative;
  z-index: 9;
  background-color: #EFF9F8;
}

.products .box .box-heading::after, .products .box .box-heading::before {
  content: '';
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.products .box .box-heading::after {
  width: 100%;
  background: url("../images/pattern.png") top right/contain no-repeat;
  z-index: -1;
  opacity: 0;
}

.products .box .box-heading::before {
  width: 0%;
  background: -webkit-gradient(linear, left top, right top, from(#00A79D), to(#088483));
  background: linear-gradient(90deg, #00A79D, #088483);
  z-index: -2;
}

.products .box .box-heading h2 {
  color: #00A79D;
  font-size: 25px;
  font-weight: 900;
  line-height: 40px;
  margin-bottom: 10px;
}

.products .box .box-heading p {
  color: #B2B2B2;
  font-size: 16px;
  font-weight: 500;
  line-height: 40px;
  margin: 0px;
}

.products .box .contain {
  width: 100%;
  height: calc(100% - 136px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 24px;
  background: #fff;
}

.products .box .contain .list li {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 20px;
}

.products .box .contain .list li:last-child {
  margin: 0px !important;
}

.products .box .contain .list li img {
  width: 24px;
  height: 24px;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-margin-end: 15px;
          margin-inline-end: 15px;
}

.products .box .contain .list li span {
  color: var(--dark);
  font-size: 16px;
  font-weight: 500;
  line-height: 40px;
}

.products .box .contain .custom-btn {
  width: 100% !important;
  margin-top: 30px !important;
  background: -webkit-gradient(linear, left top, right top, from(#00A79D), to(#088483)) !important;
  background: linear-gradient(90deg, #00A79D, #088483) !important;
}

.products .box .contain .custom-btn::after {
  background: -webkit-gradient(linear, left top, right top, from(#088483), to(#00A79D)) !important;
  background: linear-gradient(90deg, #088483, #00A79D) !important;
}

.products .box:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.products .box:hover .box-heading::after {
  opacity: 1;
}

.products .box:hover .box-heading::before {
  width: 100%;
}

.products .box:hover .box-heading h2 {
  color: var(--light);
}

.products .box:hover .box-heading p {
  color: rgba(255, 255, 255, 0.7);
}

.products .box:hover .contain {
  background: #fff url("../images/product/pattern.png") bottom left/contain no-repeat;
}

.contact {
  width: 100%;
  padding: 80px 0px 0px;
  background-color: var(--light);
  position: relative;
  z-index: 9;
  overflow: hidden;
}

.contact::after {
  content: '';
  position: absolute;
  width: 500px;
  height: 500px;
  background: url("../images/product/pattern.png") top left/contain no-repeat;
  top: 120px;
  right: 0;
  z-index: -1;
}

.contact .image-content {
  width: 100%;
  height: 640px;
  position: relative;
  z-index: 9;
}

.contact .image-content img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: bottom right;
     object-position: bottom right;
}

.contact .form-contain {
  width: 100%;
}

.contact .form-contain label {
  color: var(--dark);
  font-size: 16px;
  font-weight: 500;
  line-height: 40px;
  margin-bottom: 10px;
  display: block;
}

.contact .form-contain .form-group {
  width: 100%;
  height: 50px;
  position: relative;
  margin-bottom: 20px !important;
}

.contact .form-contain .form-group.textarea {
  height: 100px !important;
}

.contact .form-contain .form-group.textarea .form-control {
  border-radius: 15px !important;
  padding-top: 11px;
  resize: none;
}

.contact .form-contain .form-group:last-child {
  margin-bottom: 31px !important;
}

.contact .form-contain .form-group img {
  width: 24px;
  height: 24px;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  top: 13px;
  right: 20px;
}

.contact .form-contain .form-group .form-control {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  background-color: #F9F2F8;
  border: 1px solid rgba(146, 39, 143, 0.1);
  -webkit-padding-start: 54px;
          padding-inline-start: 54px;
  color: var(--dark);
  font-size: 15px;
  font-weight: 500;
}

.contact .form-contain .form-group .form-control::-webkit-input-placeholder {
  color: #B2B2B2;
  font-size: 16px;
  font-weight: 500;
  line-height: 40px;
}

.contact .form-contain .form-group .form-control:-ms-input-placeholder {
  color: #B2B2B2;
  font-size: 16px;
  font-weight: 500;
  line-height: 40px;
}

.contact .form-contain .form-group .form-control::-ms-input-placeholder {
  color: #B2B2B2;
  font-size: 16px;
  font-weight: 500;
  line-height: 40px;
}

.contact .form-contain .form-group .form-control::placeholder {
  color: #B2B2B2;
  font-size: 16px;
  font-weight: 500;
  line-height: 40px;
}

.contact .form-contain .form-group .form-control:hover, .contact .form-contain .form-group .form-control:focus {
  border: 1px solid rgba(146, 39, 143, 0.5);
}

.contact .button-contain {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact .button-contain .custom-btn {
  width: 140px !important;
}

footer {
  width: 100%;
  padding: 70px 0px 0px 0px;
  background: -webkit-gradient(linear, left top, right top, from(#00A79D), to(#92278F));
  background: linear-gradient(90deg, #00A79D, #92278F);
  position: relative;
  z-index: 9;
}

footer::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../images/pattern.png") bottom right/contain no-repeat;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  bottom: 0;
  left: 0;
  z-index: -1;
}

footer .row {
  padding-bottom: 60px !important;
}

footer .contain .brand-name {
  width: 126px;
  height: 117px;
  -o-object-fit: contain;
     object-fit: contain;
}

footer .contain p {
  color: var(--light);
  font-size: 16px;
  font-weight: 500;
  opacity: 0.70;
  line-height: 25px;
  margin: 24px 0px;
}

footer .contain .socail-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

footer .contain .socail-media li {
  -webkit-margin-end: 10px;
          margin-inline-end: 10px;
}

footer .contain .socail-media li a {
  width: 41px;
  height: 41px;
  border: 1px solid var(--light);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

footer .contain .socail-media li a img {
  width: 20px;
  height: 20px;
  -o-object-fit: contain;
     object-fit: contain;
}

footer .contain .socail-media li a:hover {
  background-color: #00A79D;
  border-color: #00A79D;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

footer .contain h1 {
  font-size: 20px;
  font-weight: 900;
  line-height: 25px;
  margin-bottom: 50px;
  color: #fff;
}

footer .contain .footer-nav li {
  -webkit-margin-after: 14px;
          margin-block-end: 14px;
}

footer .contain .footer-nav li:last-child {
  margin: 0px;
}

footer .contain .footer-nav li a {
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.7);
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

footer .contain .footer-nav li a:hover {
  color: white;
}

footer .contain .location-data {
  width: 100%;
}

footer .contain .location-data li {
  width: 100%;
  padding: 30px 0px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

footer .contain .location-data li:first-child {
  -webkit-padding-before: 0px !important;
          padding-block-start: 0px !important;
}

footer .contain .location-data li:last-child {
  -webkit-padding-after: 0px !important;
          padding-block-end: 0px !important;
  border-bottom: 0px !important;
}

footer .contain .location-data li a {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

footer .contain .location-data li a img {
  width: 24px;
  height: 24px;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-margin-end: 18px;
          margin-inline-end: 18px;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

footer .contain .location-data li a span {
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
}

footer .contain .location-data li a:hover img {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

footer .contain .location-data li a:hover span {
  color: #fff;
}

footer .copyrights {
  width: 100%;
  padding: 12px 0px;
  border-top: 1px solid rgba(255, 255, 255, 0.16);
}

footer .copyrights .contain {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

footer .copyrights .contain p {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  margin: 0px;
}

footer .copyrights .contain p a {
  color: var(--secondary);
}

footer .copyrights .contain img {
  width: 270px;
  height: 30px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: right;
     object-position: right;
}

.fixed-icon {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 10px;
  left: 10px;
  border-radius: 50%;
  z-index: 99;
  background: -webkit-gradient(linear, left top, right top, from(#00A79D), to(#92278F));
  background: linear-gradient(90deg, #00A79D, #92278F);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fixed-icon img {
  width: 30px;
  height: 30px;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-filter: invert(100%) sepia(0%) saturate(7484%) hue-rotate(234deg) brightness(108%) contrast(103%);
          filter: invert(100%) sepia(0%) saturate(7484%) hue-rotate(234deg) brightness(108%) contrast(103%);
}

@media (max-width: 999px) {
  .navbar .hamburger {
    display: block !important;
  }
  .navbar .button-contain .custom-btn {
    display: none !important;
  }
  .navbar.scrolled .navbar-nav {
    top: 89px;
    height: calc(100vh - 89px);
  }
  .navbar .navbar-nav {
    width: 100%;
    position: absolute;
    height: calc(100vh - 116px);
    top: 116px;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    right: -100%;
    background: -webkit-gradient(linear, left top, right top, from(#00A79D), to(#92278F));
    background: linear-gradient(90deg, #00A79D, #92278F);
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
    z-index: 9;
  }
  .navbar .navbar-nav.active-nav {
    right: 0px;
  }
  .navbar .navbar-nav::after {
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    background: url("../images/pattern.png") bottom left/contain no-repeat;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
  .navbar .navbar-nav .nav-item {
    width: 100%;
    padding: 10px 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  .navbar .navbar-nav .nav-item a {
    width: 100%;
    text-align: center;
    color: #fff !important;
  }
  .navbar .navbar-nav .nav-item:last-child {
    border-bottom: 0px !important;
  }
  .get-it .content {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 20px 10px !important;
  }
  .get-it .content .data-contain {
    width: 100% !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .get-it .content .data-contain .data {
    width: 100% !important;
    text-align: center;
    margin: 20px 0px;
  }
  .pos .box {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .pos .box .content {
    width: 100% !important;
    margin-top: 20px !important;
    text-align: center;
  }
  .mobile-order-1 {
    -webkit-box-ordinal-group: 2 !important;
        -ms-flex-order: 1 !important;
            order: 1 !important;
  }
  .mobile-order-0 {
    -webkit-box-ordinal-group: 1 !important;
        -ms-flex-order: 0 !important;
            order: 0 !important;
    margin-bottom: 15px;
  }
  header {
    padding: 140px 0px 40px !important;
  }
  header .image-content {
    height: 300px !important;
  }
  header h1 {
    font-size: 20px !important;
  }
  header p {
    margin: 15px 0px !important;
  }
  header .small-logo {
    margin-top: 30px !important;
  }
  .advantages, .pos, .questions {
    padding: 40px 0px;
  }
  .heading {
    margin-bottom: 30px !important;
  }
  .questions .card .card-body {
    padding: 20px 15px !important;
  }
  .products {
    padding: 20px 0px !important;
  }
  .contact {
    padding: 20px 0px 0px !important;
  }
  .contact::after {
    bottom: 0px;
    top: unset !important;
    opacity: .7;
    background-position: bottom !important;
  }
  .contact .image-content {
    height: 300px !important;
  }
  footer .contain h1 {
    margin: 20px 0px !important;
  }
  footer .copyrights .contain {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .copyrights .contain p {
    margin-bottom: 15px !important;
  }
}
/*# sourceMappingURL=style.css.map */